ul.spot-list{
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.spot-list li{
  display: flex;
  flex-direction: column;
}

ul.spot-list li header{
  width: 100%;
  height: 120px;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  border-radius: 4px;
}

ul.spot-list li h2{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

ul.spot-list li p {
  font-size: 15px;
  color: #999;
}

.value {
  font-size: 18px;
  font-size: italic;
  color: #333 !important;
  font-weight: bold;
}